<div id="<%= dom_id commit %>">
  <p>
    <strong>Coder:</strong>
    <%= commit.coder_id %>
  </p>

  <p>
    <strong>Repository:</strong>
    <%= commit.repository_id %>
  </p>

  <p>
    <strong>Sha:</strong>
    <%= commit.sha %>
  </p>

  <p>
    <strong>Additions:</strong>
    <%= commit.additions %>
  </p>

  <p>
    <strong>Deletions:</strong>
    <%= commit.deletions %>
  </p>

  <p>
    <strong>Committed at:</strong>
    <%= commit.committed_at %>
  </p>

</div>
