<div id="<%= dom_id repository %>">
  <p>
    <strong>Name:</strong>
    <%= repository.name %>
  </p>

  <p>
    <strong>Path:</strong>
    <%= repository.path %>
  </p>

  <p>
    <strong>Github url:</strong>
    <%= repository.github_url %>
  </p>

  <p>
    <strong>Clone url:</strong>
    <%= repository.clone_url %>
  </p>

</div>
