<!DOCTYPE html>
<html>
  <head>
    <title>Gamification 2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
      <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
              <%= link_to "Gamification 2", root_path, class: "navbar-item #{'is-active' if current_page?(root_path)}" %>
              <%= link_to "Scoreboard", coders_path, class: "navbar-item #{'is-active' if current_page?(coders_path)}" %>
              <%= link_to "Repos", repositories_path, class: "navbar-item #{'is-active' if current_page?(repositories_path)}" %>
          </div>
      </nav>
      <div class="container">
          <%= yield %>
      </div>
  </body>
</html>
