<div id="<%= dom_id coder %>">
  <p>
    <strong>Full name:</strong>
    <%= coder.full_name %>
  </p>

  <p>
    <strong>Github name:</strong>
    <%= coder.github_name %>
  </p>

  <p>
    <strong>Avatar url:</strong>
    <%= coder.avatar_url %>
  </p>

  <p>
    <strong>Github url:</strong>
    <%= coder.github_url %>
  </p>

</div>
