<table class="table is-striped is-fullwidth">
    <thead>
        <tr>
            <th></th>
            <th>Contributor</th>
            <%= render "sortable_header", { name: "Score", value: "score" } %>
            <%= render "sortable_header", { name: "Commits", value: "commit_count" } %>
            <%= render "sortable_header", { name: "Additions", value: "additions" } %>
            <%= render "sortable_header", { name: "Deletions", value: "deletions" } %>
            <% unless local_assigns.fetch(:skip_repository_count, false) %>
                <%= render "sortable_header", { name: "Repositories", value: "repository_count" } %>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% coders.each.with_index do |coder, i| %>
            <tr>
                <td class="is-flex is-flex-direction-row is-align-items-center is-justify-content-end">
                    <p class="is-size-2"><%= i + 1 %>.</p>
                    <p class="image is-64x64 mx-2">
                        <%= image_tag(coder.avatar_url, class: "is-rounded") %>
                    </p>
                </td>
                <td class="is-vcentered">
                    <p class="is-size-5"><%= link_to coder.github_name, coder_path(coder) %></p>
                    <% if coder.full_name.present? %>
                        <p><%= coder.full_name %></p>
                    <% end %>
                </td>
                <td class="is-vcentered has-text-right"><%= number_with_delimiter coder.score, delimiter: '&nbsp;'.html_safe %></td>
                <td class="is-vcentered has-text-right"><%= number_with_delimiter coder.commit_count, delimiter: '&nbsp;'.html_safe %></td>
                <td class="is-vcentered has-text-right"><%= number_with_delimiter coder.additions, delimiter: '&nbsp;'.html_safe %></td>
                <td class="is-vcentered has-text-right"><%= number_with_delimiter coder.deletions, delimiter: '&nbsp;'.html_safe %></td>
                <% unless local_assigns.fetch(:skip_repository_count, false) %>
                    <td class="is-vcentered has-text-right"><%= number_with_delimiter coder.repository_count, delimiter: '&nbsp;'.html_safe %></td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>
